@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

*,
::before,
::after {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #252525;
    font-weight: 300;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    user-select: none
}

span {
    display: inline-block
}

a {
    text-decoration: none;
    color: inherit
}

li {
    list-style: none
}

body,
.w-background {
    background-size: cover;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden
}

body {
    -webkit-transition: 1s;
    transition: 1s
}

.w-background {
    width: 100%;
    position: absolute;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    z-index: -1
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    outline: none;
    overflow: hidden;
    width: 400px;
    height: 500px
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #52525244
}

.container-title h3 {
    text-align: center;
    color: #2c91f0;
    font-weight: bold;
    margin: 1rem 0
}

.container-title button {
    width: 100%;
    border: 1px solid #fff;
    padding: 1rem;
    background: #b2dffb4d;
    cursor: pointer;
    font-weight: bold
}

.container-body {
    background: url(../img/bg-body.jpg);
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%
}

.container-body h1 {
    font-size: 4em;
    margin-top: -20px
}

.container-body h1 span {
    font-weight: bold;
    -webkit-transition: 1s;
    transition: 1s
}

.container-body h1 span:first-child {
    width: 160px;
    margin: 0 5px 0 0;
    display: inline-flex;
    justify-content: flex-end
}

.container-body h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase
}

.container-body h4 img {
    width: 20px;
    margin-right: 5px
}

.container-body h4 span {
    font-weight: bold;
    text-transform: uppercase
}

.container-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #52525244
}

.container-footer .footer-card {
    border-left: 1px solid #52525244;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(400px / 3)
}

.container-footer .footer-card div {
    margin-left: 3px
}

.container-footer .footer-card div h5 {
    color: #333;
    font-size: 12px
}

.container-footer .footer-card div h5 span {
    font-size: 14px;
    font-weight: bold;
    transition: 1s
}

.container-footer .footer-card:hover {
    background: #b2dffb4d
}

@media only screen and (max-width: 500px) {
    .container {
        width: 95%
    }

    .container-footer {
        flex-wrap: wrap
    }

    .container-footer .footer-card {
        width: 100%;
        border-left: none;
        border-bottom: 1px solid #52525244
    }

    .container-footer .footer-card div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .container-footer .footer-card div h5 {
        margin-left: 3px
    }
}

.w-opacity {
    transition: 0.7s
}